<?xml version="1.0" encoding="utf-8"?>
<Config>
  <ADSettings>

    <!--sAMAccountName of the group containing new users to enable-->
    <NewLyncGroup>NewLyncUsers</NewLyncGroup>

    <!--Netbios domain name-->
    <NetBiosDomain>AZURE</NetBiosDomain>

    <!--Search root domain expressed in DN format-->
    <DNDomain>DC=azure,DC=maxlab,DC=net</DNDomain>

    <!--AD Attribute containing the user location - only required when PoolTopology is set to MultiPool-->
    <UserLocation>physicalDeliveryOfficeName</UserLocation>

  </ADSettings>
  <LyncSettings>
    <!--Setting PoolTopology to Simple will only enable users on the first Lync Pool pair specified in the array. If two pools
        are specified, the script will enable users 50/50 on both pools.
        Setting PoolTopology to MultiPool will enable users in different single pools or pool pairs as specified by the AD Attribute 
        entered in UserLocation. When using this modality, each pool in the array needs to contain the location name for the script 
        to identify where to enable users.-->
    
    <PoolTopology>Simple</PoolTopology>

    <!--Lync Pool Array-->
    <!--For each pool location, duplicate a <Pool> block, set its location, and one or two FQDNs for the pair if available.
        The pool set with IsFallBackPool to true, will be used in case the user to enable doesn't have a location set.
        You can add multiple Location attributes to a single pool if you want to use it for multiple user locations.
        Delete the Pool blocks you don't need in your deployment.-->
    
    <PoolArray>

       <Pool>
          <Location>London</Location>
	  <Location>Manchester</Location>
          <FirstPoolFQDN>maxlync1.azure.maxlab.net</FirstPoolFQDN>
          <SecondPoolFQDN>maxlync2.azure.maxlab.net</SecondPoolFQDN>
          <IsFallBackPool>True</IsFallBackPool>
       </Pool>

       <Pool>
          <Location>New York</Location>
          <FirstPoolFQDN>maxlync3.azure.maxlab.net</FirstPoolFQDN>
          <SecondPoolFQDN>maxlync4.azure.maxlab.net</SecondPoolFQDN>
          <IsFallBackPool>False</IsFallBackPool>
       </Pool>

       <Pool>
          <Location>Chicago</Location>
          <FirstPoolFQDN>maxlync5.azure.maxlab.net</FirstPoolFQDN>
          <SecondPoolFQDN></SecondPoolFQDN>
          <IsFallBackPool>False</IsFallBackPool>
       </Pool>

    </PoolArray>
  </LyncSettings>

  <!--Settings these values to False will disable portions of the script's actions-->

  <ScriptFunctions>

    <!--This portion enables users members of NewLyncGroup for Lync-->
    <Enablement>True</Enablement>

    <!--This portion suspends Lync users who are disabled in AD but enabled in Lync-->
    <Suspension>True</Suspension>

    <!--This portion reactivates Lync users who are enabled in AD but suspended in Lync-->
    <Reactivation>True</Reactivation>

    <!--This portion deletes Lync users who are disabled in AD and whose lastLogonTime is more than the number of days specified in the parameter DeleteThreshold-->
    <Deletion>True</Deletion>
    <DeleteThreshold>90</DeleteThreshold>

  </ScriptFunctions>

  <Notifications>

    <!--Settings this parameter to False will disable daily email notifications of the script's operations-->
    <EnableNotifications>False</EnableNotifications>

    <!--This is the email address from which notifications will be sent-->
    <FromAddress>lyncserver@contoso.com</FromAddress>

    <!--SMTP server to use - make sure you have rights to send email impersonating another user if using Exchange-->
    <SMTPServer>mail.contoso.com</SMTPServer>

    <!--Path to the recipient list - add email addresses one after another on separate lines-->
    <RecipientsPath>.\Recipients.txt</RecipientsPath>

  </Notifications>

  <!--To assign a global policy, set any of these variables to empty, otherwise add the name of the policy to assign without the Tag: prefix-->

  <UserPolicies>

    <ClientPolicy>TestPolicy</ClientPolicy>
    <ConferencingPolicy>BigConferences</ConferencingPolicy>
    <ExternalPolicy></ExternalPolicy>
    <PinPolicy></PinPolicy>
    <ArchivingPolicy></ArchivingPolicy>

    <!--To enable archiving in Microsoft Exchange rather than in Lync's own SQL Instance, set this parameter to True (requires integration with Exchange 2013)-->
    <ExchangeArchiving>False</ExchangeArchiving>

  </UserPolicies>
</Config>