<?xml version="1.0" encoding="utf-8"?>
<Config>
  <ADSettings>
    <!--sAMAccountName of the group containing new users to enable-->
    <NewLyncGroup>NewLyncUsers</NewLyncGroup>
    <!--Netbios domain name-->
    <NetBiosDomain>AZURE</NetBiosDomain>
    <!--Search root domain expressed in DN format-->
    <DNDomain>DC=azure,DC=maxlab,DC=net</DNDomain>
  </ADSettings>
  <LyncSettings>
    <!--Setting this value to True will cause users to be enabled 50/50 on both pool-->
    <PairedPool>False</PairedPool>
    <!--Name of the Lync pool on which to enable users-->
    <FirstLyncPool>maxlync1.azure.maxlab.net</FirstLyncPool>
    <!--Name of the second Lync pool paired to the first one - leave empty if not available-->
    <SecondLyncPool></SecondLyncPool>
  </LyncSettings>
  <!--Settings these values to False will disable portions of the script's actions-->
  <ScriptFunctions>
    <!--This portion enables users members of NewLyncGroup for Lync-->
    <Enablement>True</Enablement>
    <!--This portion suspends Lync users who are disabled in AD but enabled in Lync-->
    <Suspension>True</Suspension>
    <!--This portion reactivates Lync users who are enabled in AD but suspended in Lync-->
    <Reactivation>True</Reactivation>
    <!--This portion deletes Lync users who are disabled in AD and whose lastLogonTime is more than the number of days specified in the parameter DeleteThreshold-->
    <Deletion>True</Deletion>
    <DeleteThreshold>90</DeleteThreshold>
  </ScriptFunctions>
  <Notifications>
    <!--Settings this parameter to False will disable daily email notifications of the script's operations-->
    <EnableNotifications>False</EnableNotifications>
    <!--This is the email address from which notifications will be sent-->
    <FromAddress>lyncserver@contoso.com</FromAddress>
    <!--SMTP server to use - make sure you have rights to send email impersonating another user if using Exchange-->
    <SMTPServer>mail.contoso.com</SMTPServer>
    <!--Path to the recipient list - add email addresses one after another on separate lines-->
    <RecipientsPath>.\Recipients.txt</RecipientsPath>
  </Notifications>
  <!--To assign a global policy, set any of these variables to empty, otherwise add the name of the policy to assign without the Tag: prefix-->
  <UserPolicies>
    <ClientPolicy>TestPolicy</ClientPolicy>
    <ConferencingPolicy>BigConferences</ConferencingPolicy>
    <ExternalPolicy></ExternalPolicy>
    <PinPolicy></PinPolicy>
    <ArchivingPolicy></ArchivingPolicy>
    <!--To enable archiving in Microsoft Exchange rather than in Lync's own SQL Instance, set this parameter to True (requires integration with Exchange 2013)-->
    <ExchangeArchiving>False</ExchangeArchiving>
  </UserPolicies>
</Config>